body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    background-image: url('../static/images/image.png');
 /* Ensure correct path */
    background-size: flex;
    background-position: center;
    background-repeat: no-repeat;
}


.container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
}

button {
    padding: 10px;
    background-color: #28a73f;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}
